---
import { getCollection } from "astro:content";
import Background from "../../components/Background.astro";
import BaseHead from "../../components/BaseHead.astro";
import BlogPreview from "../../components/BlogPreview.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { JustifiedContent } from "../../components/JustifiedContent";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog"))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .filter((post) => !post.data.draft);
---

<!DOCTYPE html>
<html class="dark h-full antialiased" lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
        <Background />
        <div class="relative">
            <Header />
            <main>
                <JustifiedContent class="sm:px-8 mt-9">
                    <div class="flex flex-col gap-16">
                        {
                            posts.map((post) => (
                                <BlogPreview
                                    title={post.data.title}
                                    slug={post.slug}
                                    pubDate={post.data.pubDate}
                                    description={post.data.description}
                                    thumbnail={post.data.heroImage}
                                />
                            ))
                        }
                    </div>
                </JustifiedContent>
            </main>
        </div>
        <Footer />
    </body>
</html>
