---
import type { CollectionEntry } from "astro:content";
import Background from "../components/Background.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { JustifiedContent } from "../components/JustifiedContent";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage }: Props = Astro.props;
---

<html class="dark h-full antialiased" lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
        <Background />
        <div class="relative">
            <Header />
            <main>
                <JustifiedContent class="">
                    <article class="prose prose-zinc prose-img:rounded dark:prose-invert">
                        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
                        <h1 class="mt-1 text-lg">{title}</h1>
                        {pubDate && <time>{pubDate}</time>}
                        {
                            updatedDate && (
                                <div>
                                    Last updated on <time>{updatedDate}</time>
                                </div>
                            )
                        }
                        <hr class="border-1 my-4 border-solid border-zinc-300" />
                        <slot />
                    </article>
                </JustifiedContent>
            </main>
        </div>
        <Footer />
    </body>
</html>
